// color
$pri: #002776;
$sec: #BBE4E4;
$pri2: #69fe6e;
$sec2: #0bc4e2;
$thi: #09AAC3;
$ter: #e7f5f4;
$t: #5C5C5C;
$bl: #000;
$wt: #FFF;

// font
$r: 'Noto Sans JP', sans-serif;
$b: 'Grenze Gotisch', sans-serif;
