.hero{
    height: calc(100vh - 60px);
    margin-top: 60px;
    background-size: cover;
    background-position: center center;
    width: 100%;
    background-color: #ECFCFE;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        color: $bl;
        font-size: 54px;
        margin-bottom: 30px;
        font-weight: 700;
    }
    p{
        line-height: 1.7;
        margin-bottom: 30px;
    }
    .get-started{
        font-size: 26px;
        color: $thi;
        position: relative;
        padding-right: 23px;
        font-weight: 500;
        i{
            position: absolute;
            right: 0px;
            top: 9px;
        }
        &:hover, &:focus{
            text-decoration: none;
            i{
                @-webkit-keyframes bounce {
                    0% { margin-bottom: -20px; }
                    50% { margin-top: -10px; }
                    100% { margin-bottom: -20px; }
                }
                @-moz-keyframes bounce {
                    0% { margin-bottom: -20px; }
                    50% { margin-top: -10px; }
                    100% { margin-bottom: -20px; }
                }
                @-o-keyframes bounce {
                    0% { margin-bottom: -20px; }
                    50% { margin-top: -10px; }
                    100% { margin-bottom: -20px; }
                }
                @keyframes bounce {
                    0% { margin-bottom: -20px; }
                    50% { margin-top: -10px; }
                    100% { margin-bottom: -20px; }
                }
                -webkit-animation: bounce 1s infinite; /* Safari 4+ */
                -moz-animation:    bounce 1s infinite; /* Fx 5+ */
                -o-animation:      bounce 1s infinite; /* Opera 12+ */
                animation:         bounce 1s infinite; /* IE 10+, Fx 29+ */
            }
        }
    }
    .v-wrap{
        width: 100%;
        height: 550px;
        overflow: hidden;
        video{
            width: 100%;    
            margin-top: -130px;
        }
    }
}

.feature{
    padding: 80px 0;
    .feature-item{
        position: relative;
        padding-left: 60px;
        margin-bottom: 30px;
        span.number{
            color: $thi;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 32px;
        }
        p{
            line-height: 1.7;
            font-size: 16px;
            padding-top: 5px;
            .bold{
                font-weight: bold;
            }
        }
    }
}

.how-we-help{
    padding: 50px 0;
    background-color: #ECFCFE;
    .wrap-help{
        box-shadow: 0px 6px 12px rgba($color: $sec2, $alpha: 0.2);
        background-color: $wt;
        padding: 40px 30px;
        h3{
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 35px;
        }
        h4{
            font-weight: bold;
            font-weight: 24px;
            margin-bottom: 25px;
            line-height: 1.8;
        }
        p{
            line-height: 1.8;
            font-size: 16px;
        }
        .list{
            margin-bottom: 20px;
            position: relative;
            padding-left: 20px;
            span{
                position: absolute;
                top: 0px;
                left: 0;
            }
        }
    }
}

.services{
    padding: 80px 0;
    background-color: #ECFCFE;
    .service-item{
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
        background-size: cover;
        background-position: center center;
        position: relative;
        .wrap-text{
            width: 260px;
            padding: 15px;
            background-color: $sec;
            margin: 0 0 10px 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            h3{
                font-size: 28px;
                color: darken($sec2, 25%);
                position: relative;
                z-index: 3;
                font-weight: 700;
            }
            p{
                font-size: 13px;
                margin-bottom: 0px;
            }
        }
    }
}

.price{
    padding: 80px 0;
    .price-wrap{
        width: 320px;
        border: 2px solid $sec2;
        margin: 0 15px;
        padding: 20px 30px;
        display: inline-block;
        vertical-align: middle;
        h3{
            font-size: 26px;
            font-weight: bold;
            padding-bottom: 25px;
            margin-top: 25px;
            margin-bottom: 25px;
            border-bottom: 2px solid $sec2;
        }
        p{
            font-size: 16px;
            line-height: 1.8;
            margin-bottom: 20px;
            text-align: left;
        }
    }
}