footer{
    padding: 50px 0;
    background-color: #0ABBD6;
    .logo{
        width: 150px;
        margin-bottom: 10px;
    }
    p{
        color: $wt;
    }
    h4{
        color: $wt;
        margin-bottom: 15px;
    }
    .socmed{
        border-radius: 50%;
        width: 35px;
        height: 35px;
        font-size: 20px;
        background-color: $sec;
        color: darken($sec2, 10%);
        margin-right: 15px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:hover, &:focus{
            text-decoration: none;
            background-color: $ter;
            color: $pri;
        }
    }
}